<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>A</string>
		</dict>
	</array>
	<key>Name</key>
	<string>Draft App</string>
	<key>Definitions</key>
	<dict>
		<key>*:import:special:*</key>
		<string>#import &lt;___*___&gt;</string>
		<key>*:comments</key>
		<string>//
//  ___FILENAME___
//  ___PACKAGENAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//  Copyright ___YEAR___ ___ORGANIZATIONNAME___. All rights reserved.
// </string>
		<key>Module/Modules of application</key>
		<dict>
			<key>Group</key>
			<string>Module</string>
		</dict>
		<key>MyFolder/___VARIABLE_CLASS_PREFIX___ViewController2.swift</key>
		<dict>
			<key>Group</key>
			<string>MyFolder</string>
			<key>Path</key>
			<string>MyFolder/___VARIABLE_CLASS_PREFIX___ViewController2.swift</string>
		</dict>
		<key>MyFile.m:a</key>
		<string>// This is an empty file line a</string>
		<key>MyFile.m:b</key>
		<string>// This is an empty file line b</string>
		<key>___VARIABLE_CLASS_PREFIX___ViewController.swift</key>
		<dict>
			<key>Group</key>
			<string>Group</string>
			<key>Path</key>
			<string>Resources/___VARIABLE_CLASS_PREFIX___ViewController.swift</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>MyFile.m:init</string>
		<string>MyFile.m:comments</string>
		<string>MyFile.m:import:special:somefile.h</string>
		<string>Module/Modules of application</string>
		<string>MyFolder/___VARIABLE_CLASS_PREFIX___ViewController2.swift</string>
		<string>MyFile.m:a</string>
		<string>MyFile.m:b</string>
		<string>___VARIABLE_CLASS_PREFIX___ViewController.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Class Prefix:</string>
			<key>Identifier</key>
			<string>CLASS_PREFIX</string>
			<key>Description</key>
			<string>This is the description of option.</string>
			<key>Default</key>
			<string>CD</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>checkbox</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Check One:</string>
			<key>Identifier</key>
			<string>CHECK_ONE</string>
			<key>Description</key>
			<string>This is the description of option.</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Text When Checked:</string>
			<key>Identifier</key>
			<string>TEXT_WHEN_CHECKED</string>
			<key>Description</key>
			<string>This is the description of option.</string>
			<key>Default</key>
			<string>Default Text</string>
			<key>RequiredOptions</key>
			<dict>
				<key>CHECK_ONE</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Test.swift</key>
						<string>// Test file</string>
					</dict>
				</dict>
				<key>Objective-C</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>My Popup:</string>
			<key>Description</key>
			<string>My Popup</string>
			<key>Default</key>
			<string>A</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Identifier</key>
			<string>MY_POPUP</string>
			<key>Values</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
			</array>
			<key>Units</key>
			<dict>
				<key>A</key>
				<dict/>
				<key>B</key>
				<dict/>
			</dict>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>cn.mangonob.xctemplate.draft</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
</dict>
</plist>
