<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Draft App</string>
	<key>Definitions</key>
	<dict>
		<key>Vender by third party</key>
		<dict>
			<key>Group</key>
			<string>Vender</string>
		</dict>
		<key>Some tools class or function</key>
		<dict>
			<key>Group</key>
			<string>Utilities</string>
		</dict>
		<key>Supporting files</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>Resource of your application</key>
		<dict>
			<key>Group</key>
			<string>Resource</string>
		</dict>
		<key>Extension/DataRequest+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/DataRequest+.swift</string>
		</dict>
		<key>Extension/Date+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/Date+.swift</string>
		</dict>
		<key>Extension/MBProgressHUD+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/MBProgressHUD+.swift</string>
		</dict>
		<key>Extension/MTLJSONAdapter+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/MTLJSONAdapter+.swift</string>
		</dict>
		<key>Extension/NSNumber+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/NSNumber+.swift</string>
		</dict>
		<key>Extension/NSObject+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/NSObject+.swift</string>
		</dict>
		<key>Extension/String+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/String+.swift</string>
		</dict>
		<key>Extension/SwiftAwake.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/SwiftAwake.swift</string>
		</dict>
		<key>Extension/UIAlertController+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIAlertController+.swift</string>
		</dict>
		<key>Extension/UIAlertView+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIAlertView+.swift</string>
		</dict>
		<key>Extension/UICollectionView+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UICollectionView+.swift</string>
		</dict>
		<key>Extension/UIColor+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIColor+.swift</string>
		</dict>
		<key>Extension/UITableView+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UITableView+.swift</string>
		</dict>
		<key>Extension/UIView+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIView+.swift</string>
		</dict>
		<key>Extension/UIView+Animation.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIView+Animation.swift</string>
		</dict>
		<key>Extension/UIViewController+.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIViewController+.swift</string>
		</dict>
		<key>Extension/UIViewController+SwiftAwake.swift</key>
		<dict>
			<key>Group</key>
			<string>Extension</string>
			<key>Path</key>
			<string>Extension/UIViewController+SwiftAwake.swift</string>
		</dict>
		<key>Common/___VARIABLE_CLASS_PREFIX___NavigationController.swift</key>
		<dict>
			<key>Group</key>
			<string>Common</string>
			<key>Path</key>
			<string>Common/___VARIABLE_CLASS_PREFIX___NavigationController.swift</string>
		</dict>
		<key>Common/___VARIABLE_CLASS_PREFIX___BaseController.swift</key>
		<dict>
			<key>Group</key>
			<string>Common</string>
			<key>Path</key>
			<string>Common/___VARIABLE_CLASS_PREFIX___BaseController.swift</string>
		</dict>
		<key>Common/___VARIABLE_CLASS_PREFIX___Model.swift</key>
		<dict>
			<key>Group</key>
			<string>Common</string>
			<key>Path</key>
			<string>Common/___VARIABLE_CLASS_PREFIX___Model.swift</string>
		</dict>
		<key>Common/___VARIABLE_CLASS_PREFIX___Configuration.swift</key>
		<dict>
			<key>Group</key>
			<string>Common</string>
			<key>Path</key>
			<string>Common/___VARIABLE_CLASS_PREFIX___Configuration.swift</string>
		</dict>
		<key>Module/Splash/Controller/___VARIABLE_CLASS_PREFIX___SplashController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Module</string>
				<string>Splash</string>
				<string>Controller</string>
			</array>
			<key>Path</key>
			<string>Module/Splash/Controller/___VARIABLE_CLASS_PREFIX___SplashController.swift</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Vender by third party</string>
		<string>Some tools class or function</string>
		<string>Supporting files</string>
		<string>Resource of your application</string>
		<string>Extension/DataRequest+.swift</string>
		<string>Extension/Date+.swift</string>
		<string>Extension/MBProgressHUD+.swift</string>
		<string>Extension/MTLJSONAdapter+.swift</string>
		<string>Extension/NSNumber+.swift</string>
		<string>Extension/NSObject+.swift</string>
		<string>Extension/String+.swift</string>
		<string>Extension/SwiftAwake.swift</string>
		<string>Extension/UIAlertController+.swift</string>
		<string>Extension/UIAlertView+.swift</string>
		<string>Extension/UICollectionView+.swift</string>
		<string>Extension/UIColor+.swift</string>
		<string>Extension/UITableView+.swift</string>
		<string>Extension/UIView+.swift</string>
		<string>Extension/UIView+Animation.swift</string>
		<string>Extension/UIViewController+.swift</string>
		<string>Extension/UIViewController+SwiftAwake.swift</string>
		<string>Common/___VARIABLE_CLASS_PREFIX___NavigationController.swift</string>
		<string>Common/___VARIABLE_CLASS_PREFIX___BaseController.swift</string>
		<string>Common/___VARIABLE_CLASS_PREFIX___Model.swift</string>
		<string>Common/___VARIABLE_CLASS_PREFIX___Configuration.swift</string>
		<string>Module/Splash/Controller/___VARIABLE_CLASS_PREFIX___SplashController.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class Prefix:</string>
			<key>Identifier</key>
			<string>CLASS_PREFIX</string>
			<key>Description</key>
			<string>Class prefix of your class in this project.</string>
			<key>Default</key>
			<string>CD</string>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>cn.mangonob.xctemplate.draft</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
</dict>
</plist>
